{% extends "base.html" %}

{% block content %}
<main class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <form action="" method="POST">{% csrf_token %}
            <p class="lead">{{reserved_class.datetime|date:"m月d日 H時"}}からの授業を予約しますか？</p>
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight"><button type="submit" class="btn btn-outline-info" name="add" value="true">はい</button></div>
                <div class="p-2 bd-highlight"><button type="submit" class="btn btn-outline-info" name="add" value="false">いいえ</button></div>
            </div>
        </form>
    </div>
</main>
{% endblock content %}