{% extends "base.html" %}

{% block content %}
<main class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h3 class="border-bottom pb-2 mb-0">{{teacher.last_name}} {{teacher.first_name}}</h3>
        <img src={{teacher.profile_image.url}} width="200" height=200">

        {% if teacher.rank == "bronze" %}
        <p class="lead">ランク : <span style="color: #BC9E69;">ブロンズ</span></p>
        {% elif teacher.rank == "silver" %}
        <p class="lead">ランク : <span style="color: #BEC1C3;">シルバー</span></p>
        {% elif teacher.rank == "gold" %}
        <p class="lead">ランク : <span style="color: #EFC986;">ゴールド</span></p>
        {% elif teacher.rank == "diamond" %}
        <p class="lead"><span style="color: #94D1C8;">ダイヤモンド</span></p>
        {% endif %}

        <p class="lead">経歴 : {{elapsed_year}}</p>
        <p class="lead">{{teacher.self_introduction}}</p>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h5 class="border-bottom pb-2 mb-0">予約したい時間を選択してください</h5>

        <!-- エラーがあれば表示する -->
        <p class="lead">{{error}}</p>

        <!-- 予約可能な授業を表示 -->
        <form action="" method="POST">{% csrf_token %}

            <!-- 予約可能な授業のリストから、半日分の授業のリストを取得する -->
            {% for halfday_teachers_class_list in weekly_teachers_class_list %}

            <!-- ループ回数が偶数回目の時だけ日付を表示する -->
            <!-- 偶数番目のリストの要素数が0であれば、次のリストを使って日付を表示する -->
            {% if forloop.counter0|divisibleby:"2" %}
                {% if halfday_teachers_class_list %}
                <p class="lead">{{halfday_teachers_class_list.0.datetime|date:"m月d日"}}</p>
                {% else %}
                    {% with next_index=forloop.counter %}
                    {% for halfday_teachers_class_list in weekly_teachers_class_list %}
                        {% if next_index == forloop.counter0 %}
                        <p class="lead">{{halfday_teachers_class_list.0.datetime|date:"m月d日"}}</p>
                        {% endif %}
                    {% endfor %}
                    {% endwith %}
                {% endif %}
            {% endif %}

            <div class="d-flex justify-content-left">

                <!-- 半日分の授業リストから授業を取得し、ボタンを表示する -->
                {% for teachers_class in halfday_teachers_class_list %}

                <!-- teachers_class.student.idがログイン中の生徒のidと一致していれば -->
                {% if teachers_class.student.id == student.id %}
                <button type="submit" class="btn btn-outline-info" name="reserved_class_datetime" value="{{teachers_class.datetime|date:'Y:m:d H:00'}}">{{teachers_class.datetime|date:"H:00"}}</button>

                <!-- teachers_class.student.idがログイン中の生徒のidと一致していなければ -->
                {% else %}
                <button type="submit" class="btn btn-info" name="reserved_class_datetime" value="{{teachers_class.datetime|date:'Y:m:d H:00'}}">{{teachers_class.datetime|date:"H:00"}}</button>
                {% endif %}
                
                {% endfor %}
            
            </div>

            {% endfor %}
        
        </form>

    </div>
</main>
{% endblock content %}