{% extends "base.html" %}

{% block content %}
<main class="container">

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        
        <h6 class="border-bottom pb-2 mb-0">今日の授業</h6>

        <!-- 今日受ける授業を表示する -->
        {% for learning_datetime in today_learning_datetime_list %}
        {% endfor %}

    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">

        <h6 class="border-bottom pb-2 mb-0">予約したい講師を選択してください</h6>

        <!-- 1週間以内に予約可能な講師を表示する -->
        {% for teacher in teacher_list %}
        <div class="d-flex text-muted pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="0" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><img src="{{teacher.user.profile_image.url}}" width="38" height="38"></svg>
            <p class="pb-3 mb-0 small lh-sm border-bottom">
              <strong class="d-block text-gray-dark">{{teacher.user.first_name}} {{teacher.user.last_name}}</strong>
            </p>
        </div>
        {% endfor %}

    </div>

</main>
{% endblock content %}