{% extends "base.html" %}

{% block content %}
<main class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h3 class="border-bottom pb-2 mb-0">アカウント設定</h3>
        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <p class="lead">画像を変更する</p>
            <input type="hidden" name="setup" value="change_profile_image">
            <img src="{{user.profile_image.url}}" class="img-thumbnail" width="300" height="300">
            <input class="form-control" type="file" accept="image/*" id="formFile" name="profile_image" required>
            <button type="submit" class="btn btn-outline-info">アップロード</button>
        </form>

        <form action="" method="POST">{% csrf_token %}
            <p class="lead">名前を変更する</p>
            <input type="hidden" name="setup" value="change_name">
            <div class="col-auto">
                <input type="text" class="form-control" id="inputPassword2" name="first_name" placeholder="名字" value="{{user.last_name}}" required>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="inputPassword2" name="last_name" placeholder="名前" value="{{user.first_name}}" required>
            </div>
            <button type="submit" class="btn btn-outline-info">保存</button>
        </form>

        <form action="" method="POST">{% csrf_token %}
            <p class="lead">自己紹介を編集する</p>
            <input type="hidden" name="setup" value="edit_self_introduction">
            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" name="self_introduction" rows="4" required>{{user.self_introduction}}</textarea>
            </div>
            <button type="submit" class="btn btn-outline-info">保存</button>
        </form>
    </div>
</main>
{% endblock content %}